/* Import the Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
  color: #333;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Prevents scrollbars from appearing */
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e7ddf2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004494;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.status {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.status.success {
  background-color: #d4edda;
  color: #155724;
}

.status.error {
  background-color: #f8d7da;
  color: #721c24;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }
}